<mat-card [ngClass]="'wrapper'">
  <i class="material-icons">
    wb_sunny
    </i>
    <h3>ClearWeatherApplication</h3>
</mat-card>
<form (submit)="Submit(cityname, countrycode)">
<mat-card [ngClass]="'area'">
  <mat-form-field>
  <input matInput class="form-control" required placeholder="Cityname" autofocus color="primary" #cityname>
  </mat-form-field>
  <mat-form-field>
    <input class="form-control" matInput required placeholder="Countrycode" color="primary" #countrycode>
    </mat-form-field>
  <button mat-raised-button color="primary">
    <i class="material-icons" [ngClass]="'question'">
        query_builder
    </i>Confirm</button>
</mat-card>
</form>
<div *ngIf="weather">
    <mat-card [ngClass]="'wrapper'"><p>Місто: {{weather.name}}</mat-card>
    <mat-card [ngClass]="'wrapper'"><p>Широта: {{weather.coord.lat}}</mat-card>
    <mat-card [ngClass]="'wrapper'"><p>Довгота: {{weather.coord.lon}}</mat-card>
    <mat-card [ngClass]="'wrapper'"><p>Вологість: {{weather.main.humidity}}%</mat-card>
    <mat-card [ngClass]="'wrapper'"><p>Тиск: {{weather.main.pressure}} паскаль</mat-card>
    <mat-card [ngClass]="'wrapper'"><p>Температура: {{weather.main.temp}} °C</mat-card>
    <mat-card [ngClass]="'wrapper'"><p>Опис: {{weather.weather[0].description }}</mat-card>
</div>
<router-outlet></router-outlet>
